body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#header,
#footer {
  height: 50px;
  background-color: #2d2e2e;
}

#header {
  text-align: center;
  padding: 30px;
}

#header a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

#navbar {
  /*
  *z-index sets navbar to the front 
  */
  z-index: 1;
  overflow: hidden;
  background-color: #2d2e2e;
  opacity: 0.9;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-between;
}

#navbar a {
  box-sizing: border-box;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 10%;
}

#founder_pic {
  margin: 10px;
  width: 30%;
  vertical-align: middle;
  height: 250px;
  border-radius: 50%;
}

#title {
  display: inline-block;
  text-align: center;
  font-size: 50px;
  width: 50%;
}

h3 {
  text-align: center;
  margin: 20px;
}

p {
  position: relative;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}

ul {
  text-align: center;
  list-style: none;
}

#threeImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#threeImages > img {
  width: 33.33%;
  height: 300px;
}

#guides {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin-top: 40px;
}

.guide_card {
  box-sizing: border-box;
  width: 25%;
  height: 300px;
  border: 1px solid black;
}

.guide_card > img {
  width: 100%;
  height: 200px;
}

@media (max-width: 500px) {
  #founder_pic {
    height: 150px;
  }

  #threeImages > img {
    height: 100px;
  }

  .guide_card {
    width: 50%;
  }
}
