body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#footer {
  height: 50px;
  background-color: #2d2e2e;
}

#top > img {
  position: relative;
  height: 10rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #bcabae;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 1rem;
}

header nav {
  background-color: #2d2e2e;
  position: absolute;
  right: -100%;
  top: 4.75rem;
}
header nav a {
  display: block;
  color: #fbfbfb;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  width: 5rem;
  font-size: 17px;
}
nav a:hover {
  color: #bcabae;
  text-decoration: underline;
}
header {
  position: fixed;
  background-color: #2d2e2e85;
  z-index: 1;
  top: 0;
  width: 100%;
}
header .show {
  right: 0;
}
.hamburger {
  width: 40px;
  height: 3rem;
  position: absolute;
  right: 5px;
  align-content: center;
  margin-top: 0.5rem;
}
a {
  text-decoration: none;
}
.tour_sections {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 400px;
}

.mainPicture,
#mainPicture1 {
  position: relative;
  text-align: center;
}

.mainPicture > img {
  margin-top: 30px;
}

.text-overlay {
  position: absolute;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 3px #00000070;
  top: 12rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  position: relative;
  text-align: left;
  padding: 0 3rem;
  padding-top: 20px;
}

p,
.special {
  position: relative;
  text-align: left;
  padding: 0 3rem 1rem 3rem;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.special {
  margin: auto;
  padding: 3rem 3rem 1rem 3rem;
}

.threeImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.threeImages > img {
  width: 33.33%;
  height: 300px;
}

.b-button,
.antarctica-button,
.oceania_button,
.europe_button {
  padding: 0.5rem 2rem;
  color: #fbfbfb;
}

.antarctica-button,
.europe_button {
  background-color: #05528e;
}

.oceania_button {
  background-color: #415d48;
}

#footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #2d2e2e;
}

.left {
  flex-direction: row;
  color: white;
  margin: 5px 2px;
  font-size: 15px;
}

.right {
  flex-direction: row-reverse;
  justify-content: right;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  background: #2d2e2e;
  color: white;
}

@media (max-width: 730px) {
  .threeImages > img {
    height: 100px;
  }
  .text-overlay {
    padding: 0px;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 25px;
  }
  #top > img {
    position: relative;
    height: 15rem;
  }
  h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 3rem;
    font-size: 4rem;
  }
  .hamburger {
    display: none;
  }
  header nav {
    position: unset;
    background-color: unset;
    width: unset;
  }
  header nav a {
    border: none;
    padding: 14px 16px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 17px;
    width: 10%;
  }
  header {
    position: sticky;
    background-color: #2d2e2e;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-evenly;
    width: 100%;
    background-color: #2d2e2e;
    opacity: 0.95;
  }
  img {
    height: 30%;
    max-height: 700px;
  }
  .text-overlay {
    font-size: 5rem;
  }

  h3 {
    position: relative;
    text-align: left;
    padding: 0 15rem;
    padding-top: 20px;
  }

  p,
  .special {
    position: relative;
    text-align: left;
    padding: 0 15rem;
    padding-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
  }

  .special {
    margin: auto;
    padding: 5rem 15rem 5rem 15rem;
    font-size: 25px;
  }

  .left {
    font-size: 30px;
  }
}
