body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

#footer {
  height: 50px;
  background-color: #2d2e2e;
}

#top > img {
  width: 100%;
  height: 15rem;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 3rem;
  color: #bcabae;
}

#navbar {
  /*
  *z-index sets navbar to the front 
  */
  z-index: 1;
  overflow: hidden;
  background-color: #2d2e2e;
  opacity: 0.9;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}

#navbar a {
  box-sizing: border-box;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 10%;
}

.tour_sections {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 600px;
}

.mainPicture,
#mainPicture1 {
  position: relative;
  text-align: center;
}

.mainPicture > img {
  margin-top: 30px;
}

.text-overlay {
  position: absolute;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 3px #00000070;
  top: 15rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  position: relative;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}

p {
  position: relative;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.threeImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.threeImages > img {
  width: 33.33%;
  height: 300px;
}

.b-button,
.antarctica-button,
.oceania_button,
.europe_button {
  padding: 0.5rem 2rem;
  color: #fbfbfb;
}

.antarctica-button,
.europe_button {
  background-color: #05528e;
}

.oceania_button {
  background-color: #415d48;
}

#footer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  background: #2d2e2e;
  color: white;
}

@media (max-width: 730px) {
  .threeImages > img {
    height: 100px;
  }
  .text-overlay {
    font-size: 60px;
    padding: 0px;
  }
}

@media (max-width: 430px) {
  .text-overlay {
    font-size: 40px;
    top: 10rem;
    padding: 0px;
  }

  img {
    height: 400px;
  }

  .threeImages > img {
    height: 200px;
    width: 100%;
  }
}
