body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

#header,
#footer {
  height: 50px;
  background-color: #2d2e2e;
}

#header {
  text-align: center;
  padding: 30px;
}

#header a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
}

#navbar {
  /*
      *z-index sets navbar to the front 
      */

  z-index: 1;
  overflow: hidden;
  background-color: #2d2e2e;
  opacity: 0.9;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}

#navbar a {
  box-sizing: border-box;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 10%;
}

img {
  width: 100%;
  height: 600px;
}

.mainPicture {
  position: relative;
  text-align: center;
}
.text-overlay {
  position: absolute;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 3px #00000070;
  top: 15rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  text-align: center;
  margin: 20px;
}

p {
  position: relative;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}

#trip_sections {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin-top: 40px;
}

.card {
  box-sizing: border-box;
  width: 25%;
  height: 400px;
  text-align: center;
  color: white;
}

.card > img {
  width: 100%;
  height: 100%;
}

#footer {
  display: flex;
  flex-direction: row-reverse;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  background: #2d2e2e;
  color: white;
}

@media (max-width: 730px) {
  .text-overlay {
    font-size: 60px;
  }

  .card {
    box-sizing: border-box;
    width: 50%;
    height: 700px;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .card {
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    text-align: center;
  }
}
