/**mobile styling*/
* {
  outline: none;
}
body {
  background-color: #fbfbfb;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 25px;
  overflow-x: hidden;
}
p {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 3.5rem;
  padding: 1rem 0;
  text-align: center;
  color: #bcabae;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 1rem;
}
main {
  padding: 0;
  margin: 0;
}
#top {
  background-color: white;
}
#top > img {
  position: relative;
  height: 10rem;
}
img {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.about {
  padding-bottom: 0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}
#map {
  height: 350px;
  width: 80%;
  margin: auto;
  padding: 1rem;
}
section {
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
}
.shrink {
  height: 400px;
}
section > p {
  padding: 0 3rem 1rem 3rem;
  text-align: left;
}
section > h3 {
  padding: 0 3rem;
  text-align: left;
  padding-top: 3rem;
}

header nav {
    background-color: #2d2e2e;
    position: absolute;
    width: 100%;
    top: 0;
    left: -100%;
    transition: left 1s ease-in-out;
    top: 4.75rem;
}
header nav a {
    display: block;
    color: #fbfbfb;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #bcabae;
    font-size: 14px;
}
nav a:hover {
  color: #bcabae;
  text-decoration: underline;
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
header .show {
  left: 0;
}
.hamburger {
  width: 40px;
  padding: 0.5rem;
  right: 0.5rem;
  display: inline-block;
}
.hamburger hr {
  margin: 0.75rem 0;
  border-width: 2px;
  border-style: solid;
  color: pink;
}
a {
  text-decoration: none;
}
.main-text-overlay,
.text-overlay,
.text-overlay-2 {
  position: absolute;
  font-size: 3rem;
  top: 10rem;
  color: #fbfbfb;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 3px #00000070;
}
.main-text-overlay {
  text-align: center;
  top: 19rem;
}
.caption {
  position: relative;
  width: 33.33%;

}
/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: 22rem;
}

/* The overlay effect - lays on top of the container and over the image */
.text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.caption:hover .text {
  opacity: 1;
}

/**formating of buttons in individual pages*/
.sa-button,
.as-button,
.af-button,
.na-button {
  color: #fbfbfb;
  padding: 0.5rem 2rem;
}
.sa-button {
  background-color: #3f3431;
}
.as-button {
  background-color: #3f3431;
}
.na-button {
  background-color: #415d48;
}
.af-button {
  background-color: #3f3431;
}
/**end formating of buttons*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-content: center;
  margin-top: 1rem;
}
.gallery > img {
  padding-top: 1rem;
  width: 33.33%;
}
/** contact page */
#contact-body {
  margin: 0;
  padding: 0;
  color: #fff;
}
#contact-header {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}
label {
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0 0.25rem;
}
form {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
} 
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(187, 180, 180);
  padding: 10px;
  width: 18rem;
  color: #c5ecfd;
}

.btn {
  background: #2e8db6;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.info {
  display: flex;
  flex-direction: column;
  margin: 4%;
}

.info .input,
.message_area textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  width: 18rem;
  border-bottom: 2px solid rgb(187, 180, 180);
  padding: 10px;
  color: #c5ecfd;
}
.message_area textarea {
  height: 10rem;
  margin: 4%;
  padding: 0;
  color: #c5ecfd;
}

::-webkit-input-placeholder {
  color: #c5ecfd;
}
::-moz-input-placeholder {
  color: #c5ecfd;
}
::ms-input-placeholder {
  color: #c5ecfd;
}

/***end contact format */
/**footer */
#footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #2d2e2e;
  bottom: 0;
}

.left {
  flex-direction: row;
  color: white;
  margin: 5px 2px;
  font-size: 30px;
}

.right {
  flex-direction: row-reverse;
  justify-content: right;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  background: #2d2e2e;
  color: white;
}

@media(min-width: 600px) {
  header nav {
    width: 50%;
  }
}
/***desktop styling*/
@media (min-width: 1000px) {
  body {
    font-size: 25px;
  }
  #top > img {
    position: relative;
    height: 15rem;
  }
  h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 2rem;
    font-size: 4.5rem;
  }
  .hamburger {
    display: none;
  }
  header nav {
    position: unset;
    background-color: unset;
    width: unset;
  }
  header nav a {
    border: none;
    padding: 14px 16px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 17px;
    width: 10%;
  }
  header {
    position: sticky;
    background-color: #2d2e2e;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-evenly;
    width: 100%;
    background-color: #2d2e2e;
    opacity: 0.95;
  }
  .about {
    margin: auto;
    padding: 5rem 0 4rem 0;
    font-size: 25px;
    flex-direction: row;
  }
  .about > p {
    width: 45%;
    padding: 1rem;
    padding-left: 2rem;
  }
  #map {
    height: 450px;
    width: 40%;
    padding-right: 4rem;
  }
  .all {
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .shrink {
    height: 700px;
  }
  .main-text-overlay,
  .text-overlay {
    font-size: 5rem;
    top: 35rem;
    color: #fbfbfb;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-overlay {
    top: 20rem;
  }
  section > h3,
  section > p {
    padding: 0 15rem;
  }
  section,
  section > p {
    margin-bottom: 3rem;
  }

  section > a {
    margin-bottom: 2rem;
  }

  section > h3 {
    padding-top: 3rem;
  }
  form {
    width: 50rem;
  }
  footer > a {
    height: 50px;
  }
  .info {
    flex-direction: row;
    max-width: 48rem;
    flex-wrap: wrap;
  }
  .input {
    margin: 1rem;
  }
  .row1,
  .row2,
  .col1,
  .col2 {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 1rem;
  }
  .col1,
  .col2 {
    flex-direction: column;
    width: 50%;
  }

  .input {
    margin-right: 2%;
  }
  fieldset {
    max-width: 18rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  fieldset > label {
    padding: 0.25rem;
  }
  .message_area textarea {
    width: 100%;
    max-width: 42rem;
  }
  .left {
    font-size: 30px;
  }
}
