html {
     height: 100%;
}          
h2 {
    color: #fbfbfb;
    font-size: 2rem;
    text-align: center;
}
.btn {
    background: #2e8db6;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}