body {
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
  height: 800px;
}

p {
  position: relative;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.threeImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-content: center;
  margin-top: 10px;
}

.threeImages > img {
  width: 33.33%;
  height: 300px;
}
